.title {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    margin-left: 70px;
    margin-top: 30px;
    color: rgb(95, 95, 95);
}

.greyO {

color: rgb(242, 0, 52) 
}

.blueO {
    color: rgb(242, 0, 52);
}