.searchForm {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader {
    margin-left: 720px;
    margin-top: 100px;
}


.apiError {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    font-weight: lighter;
    color: grey;
}

.errorName {
    color: rgb(193, 145, 145);
    font-weight: bold;
}

